.lyt-index-maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.lyt-index-maintitle {
    line-height: 120%;
}

.lyt-index-title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.lyt-index-title::before {
    content: "";
    width: 100px;
    height: var(--cnt-brd-sm);
    position: absolute;
    bottom: -5px;
    left: calc(50% - 50px);
    background-color: var(--app-clr-primary);
}