.lyt-navbar-wrapper {
    z-index: 999;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    height: var(--app-navbar-height);
    border-bottom: solid var(--cnt-brd-xm) var(--cnt-brd-color);
}

.lyt-navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--app-width-content);
    max-width: var(--app-max-width);
    min-width: var(--app-min-width);
}

.lyt-navbar-items {
    display: flex;
    gap: var(--cnt-spc-lg);
}

.lyt-navbar-item {
    position: relative;
}

.lyt-navbar-item.active {
    border-bottom: solid var(--cnt-brd-sm);
}

.lyt-navbar-submenu {
    display: none;
}

.lyt-navbar-submenu.active {
    display: block;
    position: absolute;
    top: 35px;
    left: 20px;
    width: 150px;
    box-shadow: var(--cnt-shadow-element);
}

.lyt-sidebar-toggler,
.lyt-sidebar-wrapper {
    display: none;
}

.lyt-sidebar-wrapper.active {
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    display: grid;
    grid-template-columns: var(--app-width-sidebar) 1fr;
}

@media screen and (min-width: 750px) {
    .lyt-sidebar-wrapper {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    :root {
        --app-width-content: 90%;
    }

    .lyt-navbar-items,
    .lyt-navbar-button {
        display: none;
    }

    .lyt-sidebar-toggler {
        display: block !important;
        cursor: pointer;
    }

}

.lyt-grd-100-fr {
    display: grid;
    gap: var(--cnt-spc-md);
    grid-template-columns: 70px 1fr;
}